/* **** variables **** */

$font: "Lucida Grande", sans-serif;

$inline-images-on-hover: false;

$my-sender-color: #33c4fa;

$sender-colors: (#feae0e #dc574f #ffedbf #bd61a5 #3d9870 #26a7c6 #afce2f #ffba8a
                 #00dc49 #92fcfe #f1ee4f #f2872f #fc6433 #f0f0f0 #9c749b #eb8798);


/* **** code **** */

html {
    font-family: $font;
    font-size: 9pt;
    background-color: #202020;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0.5ex 1.5ex;
}
body.console {}
body.normal {
    line-height: 3.2ex;
}

hr { margin: 0.5em 2em; }

a {
    color: inherit;
}

.inlineimage {
    @if $inline-images-on-hover {
        display: none;
        position: absolute;
    }
    margin: 0;
    height: auto;
    max-width: 200px;
    max-height: 150px;
    -webkit-box-shadow: 2px 2px 2px #888;
}
@if $inline-images-on-hover {
    .message:hover .inlineimage {
        display: inline-block;
    }
}

.line  { padding: 0.2ex 0; }
.time  { color: #5F5A60; }
.place { color: #9a703f; }

/* Nicks */

.sender[type=normal] { color: #c4af75; font-weight: bold; margin-right: 1.5ex; }
.sender[type=myself] { color: $my-sender-color; font-weight: bold; margin-right: 1.5ex; }

/* Messages */

.message[type=privmsg] { color: #FFFFFF; }
.message[type=action] { color: inherit;}
.message[type=notice] { color: #daefa3; }
.message[type=system] { color: #808080; }
.message[type=error] { color: #ca773f; font-weight: bold; }
.message[type=reply] { color: #f9ed97; }
.message[type=error_reply] { color: #e3c59c; }
.message[type=dcc_send_send] { color: #5e5960; }
.message[type=dcc_send_receive] { color: #5e5960; }
.message[type=join] { color: #5e5960; }
.message[type=part] { color: #5e5960; }
.message[type=quit] { color: #5e5960; }
.message[type=kick] { color: #899a95; }
.message[type=kill] { color: #899a95; }
.message[type=nick] { color: #5e5960; }
.message[type=mode] { color: #8e9c69; }
.message[type=topic] { color: #8e9c69; }
.message[type=invite] { color: #daefa3; font-style: italic; }
.message[type=wallops] { color: #5e5960; }
.message[type=debug_send] { color: #5e5960; }
.message[type=debug_receive] { color: #5e5960; }

.highlight {
    color: #ca773f;
    font-weight: normal;
}

/* Special spans */

.url {
    word-break: break-all;
}
.address {
    text-decoration: underline; word-break: break-all;
}

/* Messages in main view, but not console */
body.normal .message { padding-left: 23ex; display: block; }

/* Spans in line */

body.normal .time {
    display: block;
    float: left;
    width: 6ex;
}

body.normal .sender,
body.normal div.line[type=action] .sender:before {
    display: block;
    float: left;
    padding-right: 0.3ex;
    text-align: right;
    width: 15ex;
    height: 3ex;
    overflow: hidden;
}

body.normal div.line[type=action] .sender {
    width: auto;
    margin-right: 0;
}

body.normal div.line[type=action] .sender:after {
    display: inline;
    content: "​ ";  /* U+200B ZERO WIDTH SPACE + U+0020 SPACE */
}

body.normal div.line[type=action] .sender:before {
    content: "•";
    padding-right: 0.3ex;
    margin-right: 1.5ex;
}

body.normal div.line[type=action] .sender[type=myself]:before {
    content: "★";
}

@for $i from 0 through 15 {
    .sender[type=normal][colornumber='#{$i}'] { color: nth($sender-colors, $i+1); }
}

body.normal .line[highlight=true][type=privmsg] > .sender[type=normal],
body.normal .line[highlight=true][type=action] > .sender[type=normal]:before {
    -webkit-border-radius: 3px;
    line-height:3ex;
    color: #202020;
}

@for $i from 0 through 15 {
    .line[highlight=true][type=privmsg] .sender[type=normal][colornumber='#{$i}'],
    .line[highlight=true][type=action] .sender[type=normal][colornumber='#{$i}']:before {
        background-color: nth($sender-colors, $i+1);
    }
}

body.normal .sender[type=myself]:after {
    content: " ★";
    color: $my-sender-color;
}

body.normal div.line[type=action] .sender[type=myself]:after {
    content: "​ ";  /* U+200B ZERO WIDTH SPACE + U+0020 SPACE */
}

.line[highlight=true] {
    background-color: transparent;
}

.line[highlight=true] .highlight {
    color: $my-sender-color;
    font-weight: bold;
}

/* disable funky mirc colours */

.effect[color-number] { color: inherit; background-color: inherit; font-style: italic; }

